@main("Add Team Page || ExceedVote by JDED") {
<center>
<div class="jumbotron text-center">
	<form class="form-inline">
		<div class="form-group">
			<h1>Add Team</h1>
	    	<input type="text" class="form-control" id="teamname" placeholder="team name">
	  	</div>
	</form>
	<button class="btn btn-primary">Upload Picture</button>
</div>
<div class="container" style="border-style: solid;">
	<br />
	<h1>Detail</h1>
	<textarea class="form-control" rows="3"></textarea>
	<br />
	<button class="btn btn-success" type="submit">Save</button>
	<br />
</div>
}