@(isLoggedIn: Boolean, userInfo: UserModel,isAdmin : Boolean,criterias :List[CriteriaModel],voteUser:List[VoteModel])


@main("Vote Page || ExceedVote by JDED",isLoggedIn, userInfo,isAdmin) {
	
	<div class="jumbotron text-center">
		<h2>Vote</h2>
		
	</div>
	<div class="container">
	<table class="table table-striped">
		<thead>
	      <tr>
	        <th>Criteria</th>
	      	<th>Your Vote</th>
	      </tr>
	    </thead>
	    <tbody>
			@criterias.map { criteria =>
				<tr>
					<td>
						<a href="@routes.Vote.vote(criteria.id)">
							@criteria.criName
						</a>
					</td>
					<td>
						@for(x <- voteUser){
							@if( x.criteria.id==criteria.id){
							 	@x.team.teamname									
							}
						}	
					</td>
				</tr>
			
			}
		</tbody>
	</table>		

			
	</div>
		


}
