@(id: Long, teamForm: Form[TeamModel],isLoggedIn: Boolean, userInfo: UserModel,isAdmin : Boolean)

@main("Add Team Page || ExceedVote by JDED",isLoggedIn, userInfo,isAdmin) {
<center>
<div class="jumbotron text-center">
	<h1>Edit Team</h1>
</div>

<div class="container" style="border-style: solid;">
	<form class="form-inline" action="@routes.TeamManagement.updateTeam(id)" method="post" id="test">
		<div class="form-group">
			
	    	<input type="text" class="form-control" id="teamname" name="teamname" placeholder="team name" value="@teamForm.get.teamname">
	  	</div>
		<br>
	<h1>Detail</h1>
	<textarea form ="test" type="text" class="form-control" cols="100" rows="5" id="teamdetail" name="teamdetail" >@teamForm.get.teamdetail</textarea>
		<br>
		<br>
	<button class="btn btn-primary">Upload Picture</button>
		<br>
		<br>
	<button class="btn btn-success" type="submit">Save</button>
		<br>
	</form>
</div>
}