@(isLoggedIn: Boolean, userInfo: UserModel,isAdmin : Boolean)

@main("ExceedVote by JDED",isLoggedIn, userInfo,isAdmin) {
	<div class="container">
		@if(!isLoggedIn){
			<form class="form-signin" action=@routes.Application.postLogin method="post">   
		        <h2 class="form-signin-heading">	Please sign in</h2>
		        <label for="inputUser" class="sr-only">Username</label>
		        <input type="user" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
		        <label for="inputPassword" class="sr-only">Password</label>
		        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
		        <b>Example</b><br>
		        <div id="error-message" class="text-danger">
		        Username : b56xxxxxxxx<br>
		        Password : supakorn.k
		        </div>
		        <b>Username</b> is your User Ku Login <br>
		        <b>Password</b> is "name"."first lastname" <br>
		        
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			 @if(flash.containsKey("error")) {
	           <div id="error-message" class="text-danger">
	             @flash.get("error")
	           </div>
	         }
			 </form>
		 }else{
		 	<div class="jumbotron text-center">
			    <h2>Exceed Vote</h2>
			    <form class="form-signin">
			   		<img src="@routes.Assets.at("images/logo.jpg")" class="img-responsive" alt="Responsive image">
			    </form> 
			</div>
		 }
		
	</div>
}
