@(votes: List[VoteModel])

@main("Summary Page || ExceedVote by JDED") {
	
	<div class="jumbotron text-center">
		<h1>Summary Page</h1>
	</div>
	<div class="container">
		<div id="ex0"></div>
		@votes.map { vote =>
    		@vote.name <br>
    			
		}
		
	</div>

	<script>
		google.load('visualization', '1', {packages: ['corechart']});
    	google.setOnLoadCallback(drawChart);

	    function drawChart() {
	
	      var data = google.visualization.arrayToDataTable([
			          ['Team','Score'],
			          ['A', 5],
			          ['B', 4],
			          ['C', 6],
			          ['D', 7]
        			]);
		
	      var options = {
	        width: 1000,
	        height: 563,
	        hAxis: {
	          title: 'Team',
	          gridlines: {count: 10}
	        },
	        vAxis: {
	          title: 'Rating'
	        }
	      };
	
	      var chart = new google.visualization.ColumnChart(
	        document.getElementById('ex0'));
	
	      chart.draw(data, options);
	    }
      
	</script>
}
