@(votes: Map[String,Array[String]],isLoggedIn: Boolean, userInfo: UserModel,isAdmin : Boolean)

@main("Summary Page || ExceedVote by JDED",isLoggedIn, userInfo,isAdmin) {
	
	<div class="jumbotron text-center">
		<h1>Summary Page</h1>
	</div>
	<div class="container">
		<div id="ex0"></div>
		@for((key, value) <- votes){
		  <div id="@key">
		   Criteria @value(0) - Team @value(1) - Score = @value(2)
		  </div>
		  <br>
		}
	</div>

	<script>
		google.load('visualization', '1', {packages: ['corechart']});
    	google.setOnLoadCallback(drawChart);

	    function drawChart() {
	
	      var data = google.visualization.arrayToDataTable([
	             
			          ['Team','Score'],
			        @for((key, value) <- votes){
			    		  [	'@key', @value(2)],
					}
        			]);
		
	      var options = {
	        width: 1000,
	        height: 563,
	        hAxis: {
	          title: 'Team',
	          gridlines: {count: 10}
	        },
	        vAxis: {
	          title: 'Rating'
	        }
	      };
	
	      var chart = new google.visualization.ColumnChart(
	        document.getElementById('ex0'));
	
	      chart.draw(data, options);
	    }
      
	</script>
}
