@(message: String)

@main("Vote Page || ExceedVote by JDED") {
	
	<div class="jumbotron text-center">
		<h1>Vote Page</h1>
	</div>
	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<tr class="centert" style="font-weight: bold;border-bottom: 1px solid #cef; white-space: nowrap">
					<th class='text-overflow' style="max-width:100px; width: 30px; vertical-align: middle;">#<br/></th>
					<th class='text-overflow' style="max-width:200px; width: 50px; vertical-align: middle;">Team<br/></th>
					<th class='text-overflow' style="max-width:100px; width: 5px; vertical-align: middle;">Detail<br/></th>
				</tr>
				<tr style='white-space: nowrap'>
					<td class='text-overflow' style='max-width:100px; width: 30px'><input type="radio" name="votename" id="teama" value="option1" /></td>
					<td class='text-overflow' style='max-width:200px; width: 50px'>Team A</td>
					<td class='text-overflow' style='max-width:100px; width: 5px'><button type="button" class="btn btn-info">Detail</button></td>
				</tr>
				<tr style='white-space: nowrap'>
					<td class='text-overflow' style='max-width:100px; width: 30px'><input type="radio" name="votename" id="teamb" value="option2" /></td>
					<td class='text-overflow' style='max-width:200px; width: 50px'>Team B</td>
					<td class='text-overflow' style='max-width:100px; width: 5px'><button type="button" class="btn btn-info">Detail</button></td>
				</tr>
				<tr style='white-space: nowrap'>
					<td class='text-overflow' style='max-width:100px; width: 30px'><input type="radio" name="votename" id="teamc" value="option3" /></td>
					<td class='text-overflow' style='max-width:200px; width: 50px'>Team C</td>
					<td class='text-overflow' style='max-width:100px; width: 5px'><button type="button" class="btn btn-info">Detail</button></td>
				</tr>
				<tr style='white-space: nowrap'>
					<td class='text-overflow' style='max-width:100px; width: 30px'><input type="radio" name="votename" id="teamd" value="option4" /></td>
					<td class='text-overflow' style='max-width:200px; width: 50px'>Team D</td>
					<td class='text-overflow' style='max-width:100px; width: 5px'><button type="button" class="btn btn-info">Detail</button></td>
				</tr>
			</thead>
		</table>
		<form action="/addAction" method="post">
    		<button class="btn btn-primary" type="submit">Add</button>
		</form>
	</div>
}
